
<h1><b>Hello, Good Morning!</b></h1>
<p>A fun shop for kids and grownups, too! </p>
<p>Come and enjoy our lovingly curated and
whimsical mix of locally made and imported treasures.
</p>
<p><em>2419 NE Broadway St</em></p>
<p><em>Portland, OR 97232</em></p>
<a href="http://hellogoodmorningkids.com"><button class="btn">Learn More!</button></a>

<hr>
<hr>

<h2>Newest Items:</h2>
<div class="row">
  <ul style="list-style-type:none">
    <% @products.each do |product| %>
      <li>
        <div class="col-md-4">
        <img id="product_thumb" src="<%= product.image %>">
        <br>
        <br>
          <div class="well">
            <b><%= product.name %></b>
            <br>
            $<%= product.cost %>.00
            <br>
            <em>sku#: </em><%= product.id %>
            <br>
            <%= link_to "View Details", product_path(product) %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<hr>
<div class="row">
  <div class="col-md-4">

    <button class="btn"><%= link_to "Add a Product", new_product_path %></button>
  </div>
</div>

<br>
<hr>
<hr>

<div class="row">
  <div class="col-md-4">
    <h2>Best Bargains:</h2>
    <ul style="list-style-type:none">
      <% @lowcost.each do |product| %>
      <li>
        <div class="well">
          <b><%= product.name %></b>
          <br>
          $<%= product.cost %>.00
          <br>
          <em>sku#: </em><%= product.id %>
          <br>
          <%= link_to "View Details", product_path(product) %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <h2>Most Reviewed:</h2>
    <ul style="list-style-type:none">
      <% @mostreviews.each do |product| %>
      <li>
        <div class="well">
          <b><%= product.name %></b>
          <br>
          $<%= product.cost %>.00
          <br>
          <em>sku#: </em><%= product.id %>
          <br>
          <%= link_to "View Details", product_path(product) %>
        </div>
      </li>
      <% end %>


    </ul>
  </div>

  <div class="col-md-4">
    <h2>Locally Made Items:</h2>
    <% if @madelocal.any? %>
    <ul style="list-style-type:none">
      <% @madelocal.each do |product| %>
      <li>
        <img id="product_thumb" src="<%= product.image %>">
        <br>
        <br>
        <div class="well">
          <b><%= product.name %></b>
          <br>
          $<%= product.cost %>.00
          <br>
          <em>sku#: </em><%= product.id %>
          <br>
          <%= link_to "View Details", product_path(product) %>
        </div>
      </li>
      <% end %>
    </ul>
    <% else %>
    <div class="well">
      <p>Nothing locally-made is currently in stock, but please enjoy our selection of beautiful items from all over the world!</p>
    </div>
    <% end %>
  </div>
</div>
