<h1>All Products</h1>
<ul style="list-style-type:none">
  <% @products.each do |product| %>


    <li>
      <img id="product_thumb" src="<%= product.image %>">
      <br>
      <br>
      <div class="well">
        <b><%= product.name %></b>
        <br>
        $<%= product.cost %>.00
        <br>
        <%= product.id %>
        <br>
        <%= link_to "View Details", product_path(product) %>
      </div>
    </li>

  <% end %>

</ul>
